/* This is common css start*/

*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* This is common css end*/


/* header section css start*/

.navebar{
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;

}

.menubar{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}

.navlink{
    display: flex;
}

.navlink li{
    list-style: none;
    margin-right: 30px;
}

.navlink li a{
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

.topbutton{
    width: 135px;
    height: 44px;
    border-radius: 50px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: red; 
    background-image: linear-gradient(to bottom right, red, yellow);
}

/* header section css end*/

/* Banner section css start*/

.banner{
    width: 100%;
    height: 760px;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    position: relative;
    background-image:url(./assets/hero-bg.png);
}
.bannerinformation{
    width: 550px;
    height: 558px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bann-info-imag{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img2{
    margin-top: -250px;
    margin-bottom: 100px;
}

.bannerinformation h1{
    font-size: 5rem;
    color: #FFFFFF;
}


.bannerinformation p{
    font-size: 1rem;
    margin-top: 20px;
    color: #FFFFFF;
}

.badge{
    position: absolute;
    margin-left: 160px;
  background: #00FF88;
  color: #000;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
}

.banner-bt1{
    width: 200px;
    height: 44px;
    border-radius: 50px;
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 20px;
    background-color: red; 
    background-image: linear-gradient(to bottom right, rgb(143, 64, 247), yellow);
}

.banner-bt2{
    width: 150px;
    height: 44px;
    border-radius: 50px;
    font-size: 1rem;
    color: #00FF88;
    margin-top: 20px;
    background-color: transparent;
    border: solid 1px;
    border-color: #00FF88;
}
/* Banner section css end*/


/* About the Podcast section css start */

.prodect-section{
    width: 100%;
    height: 646px;
    background-color: #1A0B2E;
}

.about{
    width: 1200px;
    height: 222px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

.about h1{
    font-size: 3rem;
}

.about p{
    margin-top: 10px;
    font-size: 1rem;
}

.stats{
     width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    background-color: transparent;
    margin: auto;
}

.stats-car1{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car1 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car1 p{
    font-size: 1rem;
    font-weight: 200;
}

.stats-car2{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car2 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car2 p{
    font-size: 1rem;
    font-weight: 200;
}

.stats-car3{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car3 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car3 p{
    font-size: 1rem;
    font-weight: 200;
}

.stats-car4{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car4 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car4 p{
    font-size: 1rem;
    font-weight: 200;
}



/* About the Podcast section css end */





/* responsive css start*/

@media screen and (max-width: 576px){

    .navlink{
        width: 20px;
        height: 20px;
        margin-right: 180px;
        background-image: url(./assets/hamburger-menu.png);
    }

    .navlink li a{
       display: none;        
    }

  .topbutton{
    display: none;
  }

    .menubar{
        margin-left: 30px;
    }

    .banner{
        width: 100vp;
    }
    
}




/* responsive css end*/