/* This is common css start*/

*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* This is common css end*/


/* header section css start*/

.navebar{
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;

}

.menubar{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}

.navlink{
    display: flex;
}

.navlink li{
    list-style: none;
    margin-right: 30px;
}

.navlink li a{
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

.topbutton{
    width: 135px;
    height: 44px;
    border-radius: 50px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: red; 
    background-image: linear-gradient(to bottom right, red, yellow);
}

/* header section css end*/

/* Banner section css start*/

.banner{
    width: 100%;
    height: 760px;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    position: relative;
    background-image:url(./assets/hero-bg.png);
}
.bannerinformation{
    width: 550px;
    height: 558px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bann-info-imag{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img2{
    margin-top: -250px;
    margin-bottom: 100px;
}

.bannerinformation h1{
    font-size: 5rem;
    color: #FFFFFF;
}


.bannerinformation p{
    font-size: 1rem;
    margin-top: 20px;
    color: #FFFFFF;
}

.badge{
    position: absolute;
    margin-left: 160px;
  background: #00FF88;
  color: #000;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
}

.banner-bt1{
    width: 200px;
    height: 44px;
    border-radius: 50px;
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 20px;
    background-color: red; 
    background-image: linear-gradient(to bottom right, rgb(143, 64, 247), yellow);
}

.banner-bt2{
    width: 150px;
    height: 44px;
    border-radius: 50px;
    font-size: 1rem;
    color: #00FF88;
    margin-top: 20px;
    background-color: transparent;
    border: solid 1px;
    border-color: #00FF88;
}
/* Banner section css end*/


/* About the Podcast section css start */

.prodect-section{
    width: 100%;
    height: 646px;
    background-color: #1A0B2E;
}

.about{
    width: 1200px;
    height: 222px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

.about h1{
    font-size: 3rem;
}

.about p{
    margin-top: 10px;
    font-size: 1rem;
}

.stats{
     width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    background-color: transparent;
    margin: auto;
}

.stats-car1{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car1 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car1 p{
    font-size: 1rem;
    font-weight: 200;
}

.stats-car2{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car2 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car2 p{
    font-size: 1rem;
    font-weight: 200;
}

.stats-car3{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car3 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car3 p{
    font-size: 1rem;
    font-weight: 200;
}

.stats-car4{
    width: 200px;
    height: 94px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.stats-car4 h4{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00FF88;
}

.stats-car4 p{
    font-size: 1rem;
    font-weight: 200;
}



/* About the Podcast section css end */




/* About the TechWave section css start */


.TechWave{
    width: 100%;
     height: 1121px;
    background-color: #230E3D;
}

.heading-tech{
    width: 1200px;
    height: 70px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.heading-tech h1{
    font-size: 3erm;
    color: #FFFFFF;
}

.grid-tech{
    width: 1200px;
    height: 783px;
    margin: auto;
}


.grid-maine-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 20px;

}

.Premium-Audio{
    grid-column: span 1;
    grid-row: span 2;
    background-color: #351165;
    border-radius: 20px;
}

.Mobile-Friendly{

    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
     border-radius: 20px;

}

.Global-Community{
     grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
     border-radius: 20px;

}

.Exclusive-Interviews{
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
     border-radius: 20px;

}

.Rich-Resources{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #351165;
     border-radius: 20px;
}

.Premium-Audio .img_tag{
    margin-top: 107px;
    margin-left: 40px;
}

.Premium-Audio h3{
    font-size: 1.5erm;
    margin-top: 20px;
    margin-left: 40px;
    color: #FFFFFF;
}

.Premium-Audio p{
    font-size: 1erm;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.5;
    color: #FFFFFF;
}

.Mobile-Friendly .img_tag{
    margin-top: 40px;
    margin-left: 40px;
}

.Mobile-Friendly h3{
    font-size: 1.5erm;
    margin-top: 20px;
    margin-left: 40px;
    color: #FFFFFF;
}

.Mobile-Friendly p{
    font-size: 1erm;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.5;
    color: #FFFFFF;
}

.Global-Community .img_tag{
    margin-top: 40px;
    margin-left: 40px;
}

.Global-Community h3{
    font-size: 1.5erm;
    margin-top: 20px;
    margin-left: 40px;
    color: #FFFFFF;
}

.Global-Community p{
    font-size: 1erm;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.5;
    color: #FFFFFF;
}

.Exclusive-Interviews{
    height: 273px;
}

.Exclusive-Interviews .img_tag{
    margin-top: 40px;
    margin-left: 40px;
}

.Exclusive-Interviews h3{
    font-size: 1.5erm;
    margin-top: 20px;
    margin-left: 40px;
    color: #FFFFFF;
}

.Exclusive-Interviews p{
    font-size: 1erm;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.5;
    color: #FFFFFF;
}

.Rich-Resources{
    height: 273px;
}

.Rich-Resources .img_tag{
    margin-top: 40px;
    margin-left: 40px;
}

.Rich-Resources h3{
    font-size: 1.5erm;
    margin-top: 20px;
    margin-left: 40px;
    color: #FFFFFF;
}

.Rich-Resources p{
    font-size: 1erm;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.5;
    color: #FFFFFF;
}



/* About the TechWave section css end */



/* Featuer-Episodes section css start */


.Featuer-Episodes-section{
    width: 100%;
    height: 1276px;
    background-color: #1A0B2E;
}

.Featuer-Episodes{
    width: 1200px;
    height: 300px;
    margin: auto;

}

.Featuer-Episodes h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #FFFFFF;
}

.all_video_card{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;

}

.Video_card1{
    width: 380PX;
    height: 440PX;
    border-radius: 20px;
    background-color: #250D44;
}

.Video_card1 h4{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 24px;
}

.Video_card1 p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 24px;
}

.card-img{
    margin-top: 10px;
    margin-left: 24px;
}
.Video_card1 span{
     font-size: .9rem;
    color: greenyellow;
    margin-top: 5px;
    margin-left: 5px;
}


.Video_card2{
    width: 380PX;
    height: 440PX;
    border-radius: 20px;
    background-color: #250D44;
}

.Video_card2 h4{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 24px;
}

.Video_card2 p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 24px;
}

.card-img{
    margin-top: 10px;
    margin-left: 24px;
}
.Video_card2 span{
     font-size: .9rem;
    color: greenyellow;
    margin-top: 5px;
    margin-left: 5px;
}

.Video_card3{
    width: 380PX;
    height: 440PX;
    border-radius: 20px;
    background-color: #250D44;
}

.Video_card3 h4{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 24px;
}

.Video_card3 p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 24px;
}

.card-img{
    margin-top: 10px;
    margin-left: 24px;
}
.Video_card3 span{
     font-size: .9rem;
    color: greenyellow;
    margin-top: 5px;
    margin-left: 5px;
}

.Meet-the-Host{
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-top: 500px;
}

.Meet-the-Host h1{
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;

}

.Meet-the-Host-information{
    background-color: #351165;
    width: 1200px;
    height: 200px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
}

.Meet-info-text h2{
    color: #FFFFFF;
    font-size: 2rem;
    margin-left: 40px;
    margin-top: 10px;
}

.Meet-info-text p{
    color: #c7c5c5;
    font-size: 1rem;
    margin-left: 40px;
    font-weight: 100;
    margin-top: 10px;
}

.Meet-the-Host-icon{
    width: 150px;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #00FF88;
}


/* Featuer-Episodes section css end */


/* responsive css start*/

@media screen and (max-width: 576px){

    .navlink{
        width: 20px;
        height: 20px;
        margin-right: 180px;
        background-image: url(./assets/hamburger-menu.png);
    }

    .navlink li a{
       display: none;        
    }

  .topbutton{
    display: none;
  }

    .menubar{
        margin-left: 30px;
    }

    .banner{
        width: 100vp;
    }
    
}




/* responsive css end*/